.workout-details-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.workout-details-container h1 {
  color: #333;
  margin-bottom: 10px;
}

.workout-details-container p {
  color: #666;
  margin-bottom: 5px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
} 